<!DOCTYPE html>
<html>
	<head>
		<title>Roushan's Ruby Blog</title>
	</head>
	<body bgcolor="lightgreen">
		<%flash.each do |key,value|%>
		<p>
			<%= value%>
		</p>
		<%end%>
		<%= yield %>
	</body>
</html>
